<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Films</h1>
<div>
    <nobr>
        <a th:href="@{/home/add-film}">Add Film</a> |
        <a th:href="@{/}">Back to Main</a>
    </nobr>
</div>
<br/><br/>

<div class="container my-2" align="center">
        <div class="col-md-12" th:each="film : ${films}">
            <a th:href="@{/home/films/{filmId}(filmId=${film.id})}"> <h1 th:text="${film.title}" ></h1></a>
            <p th:text="${film.description}"></p>
            <div>
                <div class="pull-right">
                    <span class="label label-info" >personal</span>
            </div>
                <hr style="width:50%;text-align:center;color:green">
            </div>
    </div>
</div>
<br/><br/>

<div>
    <nobr>
        <span th:if="${hasPrev}"><a th:href="@{/home?page={prev}(prev=${prev})}">Prev</a>&nbsp;&nbsp;&nbsp;</span>
        <span th:if="${hasNext}"><a th:href="@{/home?page={next}(next=${next})}">Next</a></span>
    </nobr>
</div>
</body>
</html>